main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

img {
    width: 500px;
    height: 250px;
    object-fit: cover;
}

button {
    margin-top: 20px;
    width: 300px;
    height: 200px;
    font-size: 40px;
    background-color: rgb(165, 212, 72);
    border-radius: 10px;
}
button:hover{
    background-color: rgb(135, 179, 51);
}
button:active {
    background-color: rgb(105, 149, 41);
}

h1 {
    margin-top: 100px;
    font-size: 60px;
}
span {
    color: rgb(165, 95, 195);
}