
<button class="back-button" routerLink="/albums">Back to Albums</button>
<div class="album-details-container">
    <div class="header">
      <h2>Album</h2>
      
    </div>
    
    <div *ngIf="loading" class="loading">
      Loading photos...
    </div>

    <div *ngIf="titleLoading" class="loading-saving-title">
      Saving title...
    </div>
    
    <div *ngIf="album" class="album-info">
      <div class="album-edit">
        <label for="albumTitle">Albums Title:</label>
        <input id="albumTitle" type="text" [(ngModel)]="editTitle" placeholder="Enter album title"/>
        <button (click)="saveTitle()" class="save-button">Save</button>
      </div>

      <div class="album-data">
        <p><strong>Album ID:</strong> {{album.id}}</p>
        <p><strong>User ID:</strong> {{album.userId}}</p>
      </div>
      
      <button (click)="viewPhotos()" class="photos-button">View Photos</button>
    </div>
    
  
    <div *ngIf="!loading && !album" class="no-album">
    Album not found
    </div>
</div>